{% extends 'base.html' %}
{% block body %}
    <div>

        <h1>投票信息：{{polls.polls_text}}</h1>
        <form action="" method="post">
                {% csrf_token %}
                {% for pollsmsg in polls.pollsmsg_set.all %}
                <input type="radio" name="pol" value="{{pollsmsg.id}}">{{pollsmsg.msg}}
                <br>
                {% endfor %}
                <input type="submit" value="投票">

        </form>
        <a href="{% url 'polls:polls' %}">返回</a>
    </div>
{% endblock %}

{% block footer %}
    底部
{% endblock %}
