<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div>
            <h2>编辑书籍</h2>

            <form action="" method="post">
                书籍名称：<input type="text" name="booktitle" value="{{book.title}}">
                <br>
                出版日期：<input type="date" name="bookdate" value="{{book.pub_date}}">
                <br>
                价格: <input type="number" name="booknum" value="{{book.price}}">
                <br>
                <input type="submit" value="提交">
            </form>

        </div>
</body>
</html>