{% extends 'base.html' %}
         {% block header %}
                <div>

                    {% if request.user and request.user.username != '' %}
                    用户名:{{request.user.username}} <a href="{% url 'polls:logout' %}">退出</a>
                    {% else %}
                        <a href="{% url 'polls:login' %}">登录</a> <a href="{% url 'polls:regist' %}">注册</a>
                    {% endif %}
                </div>
            {% endblock %}

            {% block body %}
                 <div>

                    <h1>投票信息汇总</h1>
                    <ul>
                        {% for polls in pollss %}

                        <li><a href="{% url 'polls:addpolls' polls.id %}">{{polls.id}}.{{polls.polls_text}}</a></li>

                        {% endfor %}
                    </ul>


                </div>
            {% endblock %}

            {% block footer %}
                底部
            {% endblock %}
